body{background-color: rgba(19, 20, 20, 0.795);}
/* #first {background-color: aqua;} */
        /* .bg-blue{background-color: blue; */
        /* color: white;} */
h1{color: red;}
/* body{background-color: rgb(218, 230, 240);} */
div{background-color: rgb(218, 181, 181);}